<a href="https://colab.research.google.com/github/sreesanthrnair/DSA_Notes/blob/main/Data_Engineering_1_(08_09_2025).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = pd.read_csv("/content/irisexcel (1) (1).csv")


# check for issues
print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  149 non-null    float64
 1   sepal_width   149 non-null    float64
 2   petal_length  149 non-null    float64
 3   petal_width   149 non-null    float64
 4   species       149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB
None
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
#Remove Duplicates
data = data.drop_duplicates()
#Handle missing values(If Any)
data=data.fillna(method="ffill")
print("Cleaned Dataset Shape:",data.shape)

Cleaned Dataset Shape: (146, 5)

/tmp/ipython-input-1815330893.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data=data.fillna(method="ffill")

In [ ]:
data = data.drop_duplicates()

In [ ]:
import pandas as pd

data2=pd.read_excel("/content/data1.xlsx")
#Check for issues
print(data2.info())
print(data2.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  141 non-null    float64
 1   sepal_width   130 non-null    float64
 2   petal_length  135 non-null    float64
 3   petal_width   151 non-null    float64
 4   species       151 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.1+ KB
None
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          NaN           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           NaN          3.6           1.4          0.2  setosa

In [ ]:
#Remove Duplicates
data2 = data.drop_duplicates()
#Handle missing values(If Any)
data2=data2.fillna(method="ffill")
print("Cleaned Dataset Shape:",data2.shape)

Cleaned Dataset Shape: (146, 5)

/tmp/ipython-input-4236543729.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2=data2.fillna(method="ffill")

In [ ]:
data2 = data2.drop_duplicates()
data2 = data2.fillna(method='ffill')

/tmp/ipython-input-2672304604.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2 = data2.fillna(method='ffill')

In [ ]:
print("cleaned data shape: ", data.shape)

cleaned data shape:  (146, 5)

In [ ]:
!pip install schedule

Requirement already satisfied: schedule in /usr/local/lib/python3.12/dist-packages (1.2.2)

In [ ]:
import schedule,time
import pandas as pd
def pipline():
  data=pd.read_csv("/content/irisexcel (1) (1).csv")
  data=data.drop_duplicates()
  data=data.fillna(method="ffill")
  print("Rows:",len(data))
  print("Means Values:\n",data.mean(numeric_only=True))

schedule.every(0.10).minutes.do(pipline)

while True:
  schedule.run_pending()
  time.sleep(1)

/tmp/ipython-input-454183525.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data=data.fillna(method="ffill")
/tmp/ipython-input-454183525.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data=data.fillna(method="ffill")

Rows: 146
Means Values:
 sepal_length    5.856164
sepal_width     3.056164
petal_length    3.771233
petal_width     1.204795
dtype: float64
Rows: 146
Means Values:
 sepal_length    5.856164
sepal_width     3.056164
petal_length    3.771233
petal_width     1.204795
dtype: float64

KeyboardInterrupt:

In [ ]:
import pandas as pd
import random
name=['Alice','Bob','Charlie','Diana','Eric','Farah','George','Helen','Ian','Jenny','rajuA10']
departments=['Computer Science','Electronics','Mechanical','Civil']
data=[]
for i in range (1,21):
  record={
        'student_id':i,
        'name':random.choice(name),
        'age':random.choice([20,21,22,23,None]),
        'department':random.choice(departments+['Electronics']),
        'marks':random.randint(30,100),
        'attendance':random.choice([random.randint(70,100),None])
      }
  data.append(record)
df=pd.DataFrame(data)
#save
df.to_csv('students_random.csv',index=True)
print('Random dirty dataset saved as student_random.csv')
print(df.head(21))

Random dirty dataset saved as student_random.csv
    student_id    name   age        department  marks  attendance
0            1   Alice  23.0       Electronics     92        80.0
1            2    Eric   NaN             Civil     59         NaN
2            3   Helen  21.0       Electronics     32        94.0
3            4   Alice  23.0       Electronics     90         NaN
4            5   Alice   NaN       Electronics     43         NaN
5            6   Farah  21.0       Electronics     70         NaN
6            7   Helen  20.0  Computer Science     33         NaN
7            8   Diana   NaN       Electronics     37        89.0
8            9   Diana  22.0       Electronics     66         NaN
9           10   Jenny   NaN  Computer Science     76        77.0
10          11   Alice  21.0       Electronics     56         NaN
11          12   Helen  21.0             Civil     64         NaN
12          13   Farah  23.0       Electronics     55        80.0
13          14  George  22.0             Civil     51        98.0
14          15    Eric  23.0             Civil     76         NaN
15          16   Farah  22.0  Computer Science     47        96.0
16          17   Diana   NaN       Electronics     67        89.0
17          18   Farah  23.0             Civil     54        96.0
18          19   Diana  20.0             Civil    100         NaN
19          20   Helen  20.0       Electronics     68        94.0

In [ ]:
df=pd.read_csv('students_random.csv')


print('original dirty data')
print(df.head())

df.drop_duplicates()
df['age']=df['age'].fillna(df['age'].mean())
df['attendance']=df['attendance'].fillna(df['attendance'].median())
df['department']=df['department'].replace({'Electrniics':'Electronics'})
print('\nClenaed Data')
print(df.head(20))

original dirty data
   Unnamed: 0  student_id   name   age   department  marks  attendance
0           0           1  Alice  23.0  Electronics     92        80.0
1           1           2   Eric   NaN        Civil     59         NaN
2           2           3  Helen  21.0  Electronics     32        94.0
3           3           4  Alice  23.0  Electronics     90         NaN
4           4           5  Alice   NaN  Electronics     43         NaN

Clenaed Data
    Unnamed: 0  student_id    name        age        department  marks  \
0            0           1   Alice  23.000000       Electronics     92
1            1           2    Eric  21.666667             Civil     59
2            2           3   Helen  21.000000       Electronics     32
3            3           4   Alice  23.000000       Electronics     90
4            4           5   Alice  21.666667       Electronics     43
5            5           6   Farah  21.000000       Electronics     70
6            6           7   Helen  20.000000  Computer Science     33
7            7           8   Diana  21.666667       Electronics     37
8            8           9   Diana  22.000000       Electronics     66
9            9          10   Jenny  21.666667  Computer Science     76
10          10          11   Alice  21.000000       Electronics     56
11          11          12   Helen  21.000000             Civil     64
12          12          13   Farah  23.000000       Electronics     55
13          13          14  George  22.000000             Civil     51
14          14          15    Eric  23.000000             Civil     76
15          15          16   Farah  22.000000  Computer Science     47
16          16          17   Diana  21.666667       Electronics     67
17          17          18   Farah  23.000000             Civil     54
18          18          19   Diana  20.000000             Civil    100
19          19          20   Helen  20.000000       Electronics     68

    attendance
0         80.0
1         91.5
2         94.0
3         91.5
4         91.5
5         91.5
6         91.5
7         89.0
8         91.5
9         77.0
10        91.5
11        91.5
12        80.0
13        98.0
14        91.5
15        96.0
16        89.0
17        96.0
18        91.5
19        94.0

In [ ]:
#Automation rule  --->  check loew mark
if 'marks' in df.columns:
  low_marks=df[df['marks']<40]
  if not low_marks.empty:
    print('\n Warning Students with amek below 40:')
    print(low_marks[['student_id','name','marks']])
  else:
    print('\n No Failing students found !')

 Warning Students with amek below 40:
   student_id   name  marks
2           3  Helen     32
6           7  Helen     33
7           8  Diana     37