<a href="https://colab.research.google.com/github/sreesanthrnair/DSA_Notes/blob/main/Object_Oriented_Program_08_08_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def greet():
  print('Hello , Habibi come to Kerala')
greet()

Hello , Habibi come to Kerala

In [ ]:
def saketh():
 pass

In [ ]:
def greeting(name,time):
  print(f'Hello {name} ,Welcome to the Program')
  print(f'Your session will be start at {time}')
greeting('Saketh','10 am')
greeting('Nikhil','10.30 am')

Hello Saketh ,Welcome to the Program
Your session will be start at 10 am
Hello Nikhil ,Welcome to the Program
Your session will be start at 10.30 am

In [ ]:
def greeting(name,time='11.30 am'):
  print(f'Hello {name} ,Welcome to the Program')
  print(f'Your session will be start at {time}')
greeting('Saketh')
greeting('Nikhil','10.30 am')

Hello Saketh ,Welcome to the Program
Your session will be start at 11.30 am
Hello Nikhil ,Welcome to the Program
Your session will be start at 10.30 am

In [ ]:
num1=int(input('Enter the First Number : '))
num2=int(input('Enter the Second Number : '))
def product(num1,num2):
  result=num1*num2
  print(f'The Product of the  {num1} * {num2} = {result}')
product(num1,num2)

Enter the First Number : 5
Enter the Second Number : 5
The Product of the  5 * 5 = 25

In [ ]:
#Adding 10% tip
def total_amount(price):
   tip=price + (0.1 * price)
   print(f'The total bill you have {price} with adding tip {tip}')
   print(f'Total Bill Amount {tip}')
total_amount(120)

The total bill you have 120 with adding tip 132.0
Total Bill Amount 132.0

In [ ]:

def total_amount(price):
  if(price>1000):
   tip=price + (0.2 * price)
  elif(price>=500 and price<=1000):
    tip=price + (0.15 * price)
  else:
    tip=price + (0.1 * price)
  print(f'Total Bill Amount {tip}')
total_amount(2000)

Total Bill Amount 2400.0

In [ ]:
#Even
num_list=[12,32,43,3,2,5,7,8,7,9,0,9,8,7,6,54,33,22,32,42]
def average_even(numberlist):
  even_list=[]
  for num in numberlist:
    if(num % 2 == 0):
      even_list.append(num)
  averageEven= sum(even_list)/len(even_list)
  print(even_list)
  print(averageEven)
average_even(num_list)

[12, 32, 2, 8, 0, 8, 6, 54, 22, 32, 42]
19.818181818181817

In [ ]:
#Odd
num_list=[12,32,43,3,2,5,7,8,7,9,0,9,8,7,6,54,33,22,32,42]
def average_odd(numberlist):
  odd_list=[]
  for num in numberlist:
    if(num % 2 == 1):
      odd_list.append(num)
  averageOdd= sum(odd_list)/len(odd_list)
  print(odd_list)
  print(averageOdd)
average_odd(num_list)

[43, 3, 5, 7, 7, 9, 9, 7, 33]
13.666666666666666

In [ ]:
#total using Tuple format
def sum_numbers(*args):
  print(type(args))
  total=0
  for i in (args):
    total+=1
  print(total)
sum_numbers(1,2,3,4,5)

<class 'tuple'>
5

In [ ]:
#Dict format
def print_info(**args):
  print(type(args))
  for item,val in args.items():
    print(f'{item} is {val}')
print_info(name='Nikhil',place='IDK',Score=6)
print_info(name='Saketh',place='Tvm',mark=100)

<class 'dict'>
name is Nikhil
place is IDK
Score is 6
<class 'dict'>
name is Saketh
place is Tvm
mark is 100

In [ ]:
#LAMDA
square = lambda x : x*x
square(5)

25

In [ ]:
add = lambda x,y :x + y
add(4,4)

8

In [ ]:
def Totalmark(marks):
  return(sum(marks))
FinalScore = Totalmark([10,20,30,40,50])
if(FinalScore>=90):
  print('Grade A')
elif(FinalScore>=80):
  print('Grade B')
elif(FinalScore>=70):
  print('Grade C')
elif(FinalScore>=60):
  print('Grade D')
else:
    print('Fail')

Grade A

## OOPS Concept

1.Class\
2.Object/instance\
3.Inheritance\
4.Polymorphism\
5.Encapsulation\
6.Abstraction

In [ ]:
class Animal:
  animal_type='Dog'
  num_legs=4
  mammal='Yes'
  def sound():
    print('Animal Bark')
Animal.sound()

Animal Bark

In [ ]:
#self is a pointer
class Animal:
  animal_type='Dog'
  num_legs=4
  mammal='Yes'
  def Sound(self):
    print('Animal Bark')
obj1=Animal()
obj1.Sound()

Animal Bark

In [ ]:
class Person:
  place='TVM'
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def greet(self) :
    return(f'Hii myself {self.name} and my age is {self.age} and iam from {self.place}')
std1=Person('Nikhil',25)
std1.greet()
std2=Person('Saketh',23)
std2.greet()

'Hii myself Saketh and my age is 23 and iam from TVM'

### Derived Class

In [ ]:
class Employee:
  def __init__(self,name,emp_id,salary):
    self.name=name
    self.emp_id=emp_id
    self.salary=salary
  def display_info(self):
    print(f'Name : {self.name}')
    print(f'Employeee ID : {self.emp_id}')
    print(f'Salary : {self.salary}')

In [ ]:
emp1=Employee('Nikil',1113232,50000)
emp1.display_info()
emp2=Employee('Saketh',121342,50000)
emp2.display_info()

Name : Nikil
Employeee ID : 1113232
Salary : 50000
Name : Saketh
Employeee ID : 121342
Salary : 50000

In [ ]:
class Manager(Employee):
  def __init__(self,name,emp_id,salary,dept,teamSize):
    super().__init__(name,emp_id,salary)
    self.dept=dept
    self.teamSize=teamSize
  def display_manager_info(self):
    self.display_info()
    print(f'Department :{self.dept}')
    print(f'Team Size : {self.teamSize}')

In [ ]:
  emp1=Employee('Saketh',234543,50000)
  emp1.display_info()

Name : Saketh
Employeee ID : 234543
Salary : 50000

In [ ]:
emp2=Manager('Nikhil',43221,50000,'IT',10)
emp2.display_manager_info()

Name : Nikhil
Employeee ID : 43221
Salary : 50000
Department :IT
Team Size : 10

In [ ]:
class TeamLead(Manager):
  def __init__(self, name, emp_id, salary, dept, teamSize, project_name):
    super().__init__(name, emp_id, salary, dept, teamSize)
    self.project_name = project_name

  def display_tl_info(self):
    self.display_manager_info()
    print(f'Project name: {self.project_name}')


tl1 = TeamLead('Sreesanth', 1245666, 75000, 'IT', 8, 'payment interface')
tl1.display_tl_info()

Name : Sreesanth
Employeee ID : 1245666
Salary : 75000
Department :IT
Team Size : 8
Project name: payment interface