<a href="https://colab.research.google.com/github/sreesanthrnair/DSA_Notes/blob/main/What_is_SQL%3F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


##  What is SQL?

**SQL (Structured Query Language)** is the standard language for interacting with relational databases. It lets you **create**, **read**, **update**, and **delete** dataâ€”commonly known as **CRUD operations**.

---

##  CRUD Operations in SQL

| Operation | SQL Keyword | Purpose |
|-----------|-------------|---------|
| **Create** | `INSERT`     | Add new records to a table |
| **Read**   | `SELECT`     | Retrieve data from one or more tables |
| **Update** | `UPDATE`     | Modify existing records |
| **Delete** | `DELETE`     | Remove records from a table |

---

###  1. CREATE (Insert Data)
```sql
INSERT INTO employees (name, role, salary)
VALUES ('Sreesanth', 'Data Analyst', 75000);
```

- Adds a new row to the `employees` table.

---

###  2. READ (Select Data)
```sql
SELECT name, salary
FROM employees
WHERE role = 'Data Analyst';
```

- Retrieves specific columns and filters rows based on conditions.

---

###  3. UPDATE (Modify Data)
```sql
UPDATE employees
SET salary = 80000
WHERE name = 'Sreesanth';
```

- Updates the salary for a specific employee.

---

###  4. DELETE (Remove Data)
```sql
DELETE FROM employees
WHERE name = 'Sreesanth';
```

- Deletes the record for Sreesanth from the table.

---

##  Bonus: Table Creation

```sql
CREATE TABLE employees (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  role VARCHAR(50),
  salary DECIMAL(10, 2)
);
```

- Defines a new table with columns and data types.

---

##  Tips for Mastery

- Always **backup** before running `UPDATE` or `DELETE`
- Use `WHERE` clauses carefully to avoid affecting all rows
- Practice with sample datasets like **Chinook**, **Sakila**, or your housing dataset
- Use `LIMIT`, `ORDER BY`, and `GROUP BY` to refine queries